* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;

    box-sizing: border-box;
}


a {
    text-decoration: none;
    color: #EDEDED;
}

section {

    margin-bottom: 10vh;
    padding-bottom: 10vh;
}




header::after {
    background-image: url(/images/line.png);
    width: 100%;
    position: absolute;
    height: 5px;
    content: "";
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 1000;
}

/*
#home {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#home h1 {
    font-family: 'Retroica', sans-serif;
    font-size: 40px;
    color: #EDEDED;
    width: 900px;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 30px;
}

#home p {
    font-family: "Acumin Variable Concept";
    color: #8E8D8D;
    padding-bottom: 40px;
}
*/
.btn-buy {
    width: 200px;
    height: 50px;
    line-height: 20px;
    font-size: 15px;
    background-color: #76B900;
    border-radius: 50px;
    border: 0;
    font-weight: 700;
    z-index: 1;
    background-repeat: no-repeat;
}

#i-buy {
    position: relative;
    top: 3px;
    right: 4px;
    width: 20px;
}


/*  ANIMATION  */






.Desktop__1 {
    transform-box: fill-box;
    transform-origin: 50% 50%;
    position: absolute;
}

.Rectangle {
    width: 300px;
    z-index: 1;
    position: absolute;
    bottom: 300px;
    left: 500px;
    transition: all 3s;
}




#legs1 {
    z-index: 1;
    width: 90%;
    left: -25px;
    bottom: 0px;

}

.Group_1 {
    z-index: 4;
    position: absolute;
    width: 400px;
    left: 300px;
    bottom: 170px;
}

.w-head {
    width: 300px;
    height: 200px;
}

#head {
    width: 100%;
    z-index: 1;
    transition: all 5s;
}

#eye {

    z-index: 2;
    top: 110px;
    left: 25px;
    transition: all 5s;
    width: 40%;
}

.w-body {
    width: 300px;
    height: 250px;
}

#body1 {
    z-index: 0;
    width: 80%;
    height: 100%;
    left: 50px;
    top: -20px;
    transition: all 5s;
}

#arms1 {
    width: 400px;
    top: -20px;
    left: -200px;
    z-index: 1;

    transition: all 5s;
}

#head2 {
    width: 60%;
    top: 30px;
    z-index: 1;
    left: 35px;
    transition: all 5s;
}

#body2 {
    z-index: 0;
    position: absolute;
    width: 150px;
    height: 150px;
    top: -20px;
    left: 50px;
    transition: all 5s;
}

#legs2 {
    z-index: 1;
    bottom: 0px;
    width: 75%;
    left: 5px;
}

#weapon2 {
    z-index: 1;
    width: 100%;
    top: -20px;
    left: 40px;
    transition: all 5s;
}

#courses {
    color: #333;
    padding: 1rem;
    margin-left: 300px;
}

.courses {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.courses .course {
    display: flex;
    padding: 0.5rem;
    margin-bottom: 1rem;
}

#left {
    margin-right: 1rem;
    border: 4px #76B900 solid;
}

#right {
    margin-left: 1.5rem;
    border: 4px #76B900 solid;
}

.courses .course .course-image img {
    width: 400px;
    height: 200px;
}

.courses .course .title {
    font-family: 'Retroica', sans-serif;
    color: #76B900;
    font-size: 20px;
}

.courses .course .text {
    color: #EDEDED;
    font-family: "Acumin Variable Concept";
    letter-spacing: 1px;
}

.courses .course .course-info {
    width: 400px;
}

.title-infos {
    font-size: 60px;
    font-weight: 500;
    font-family: 'Retroica', sans-serif;
    color: #EDEDED;
    letter-spacing: 5px;
}

.road img {
    margin-left: 300px;
    width: 900px;
    height: 500px;
}

.roadtitle {
    font-family: 'Retroica', sans-serif;
    color: #EDEDED;
    font-size: 50px;
    margin: 50px;
    letter-spacing: 5px;
}

.utility img {
    width: 1300px;
    height: 500px;
    margin-top: 50px;
    margin-left: 50px;
}

.accordion {
    width: 800px;
    margin: 90px auto;
    color: black;
    padding: 45px 45px;
}

.accordion .container {
    margin: 10px 10px;
}

.accordion .label {
    position: relative;
    padding: 10px 0;
    font-size: 30px;
    color: #EDEDED;
    cursor: pointer;
    border: 4px solid #76B900;
    padding: 10px;
    border-radius: 20px;
}

.accordion .label::before {
    content: '+';
    text-align: center;
    color: #76B900;
    position: absolute;
    top: 50%;
    right: 15px;
    font-size: 30px;
    transform: translateY(-50%);
}


/* Hides the content (height: 0), decreases font size, justifies text and adds transition */

.accordion .content {
    color: #EDEDED;
    position: relative;
    background: rgba(72, 117, 53, 0);
    font-size: 20px;
    padding: 20px;
    text-align: justify;
    width: 680px;
    overflow: hidden;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.212);
    border-radius: 20px;
    transition: all 0.8s linear;
}


/* Adds a horizontal line between the contents */

.accordion .container.active .content {
    height: 150px;
}


/* Changes from plus sign to negative sign once active */

.accordion .container .content.null .label::before {
    content: '-';
    font-size: 30px;
}



.hidden {
    display: none;
    opacity: 0;
}

.visuallyhidden {
    opacity: 0;
}

.cards {
    width: 80%;
    height: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}



.char-infos .name {
    color: #76B900;
    font-size: 50px;
    font-family: 'Retroica', sans-serif;
    text-transform: capitalize;
    font-style: italic;
    font-weight: lighter;
}

.char-infos .misson {
    color: #EDEDED;
    font-size: 20px;
    font-family: 'Retroica', sans-serif;
    text-transform: capitalize;
}

.col.red {
    background-color: #D60F48;
}

.col.yellow {
    background-color: #FEC105;
}

.col.blue {
    background-color: #6ED5DA;
}

.head3 {
    width: 220px;
    position: relative;
    left: -20px;
    bottom: 100px;
    z-index: 2;
    transition: all 5s;
}

.body3 {
    width: 120px;
    position: relative;
    left: 35px;
    bottom: 130px;
    z-index: 1;
    transition: all 3s;
}

.weapon3 {
    width: 450px;
    position: relative;
    left: -10px;
    bottom: 400px;
    z-index: 2;
    transition: all 3s;
}

.legs3 {
    width: 300px;
    position: relative;
    left: -54px;
    bottom: 157px;
    z-index: 1;
}



.head4 {
    width: 200px;
    position: relative;
    left: -20px;
    bottom: 100px;
    z-index: 2;
    transition: all 3s;
}

.body4 {
    width: 110px;
    position: relative;
    left: 35px;
    bottom: 125px;
    z-index: 1;
    transition: all 3s;
}

.legs4 {
    width: 270px;
    position: relative;
    left: -46px;
    bottom: 152px;
    z-index: 1;
}

.arm4 {
    width: 50px;
    height: 140px;
    position: relative;
    left: 115px;
    bottom: 370px;
    z-index: 0;
    transform: rotate(0deg);
    transition: all 3s;
}

.weapon4 {
    width: 200px;
    position: relative;
    left: 20px;
    bottom: 520px;
    z-index: 2;
    transition: all 3s;
}

#footer {
    color: white;
    display: flex;
}

.head5 {
    width: 230px;
    position: relative;
    left: -20px;
    bottom: 100px;
    z-index: 2;
    transition: all 3s;
}

.body5 {
    width: 115px;
    position: relative;
    left: 35px;
    bottom: 130px;
    z-index: 1;
    transition: all 3s;
}

.legs5 {
    width: 270px;
    position: relative;
    left: -38px;
    bottom: 162px;
    z-index: 1;
}

.weapon5 {
    width: 340px;
    position: relative;
    left: 0px;
    bottom: 400px;
    z-index: 2;
    transition: all 3s;
}


/*
#footer ul {
    padding: ;
    : 20x;
    list-style-type: none;
    display: flex;
}

#footer ul li a {
    padding: 1.2rem;
    font-family: 'Retroica', sans-serif;
    align-items: center;
}

.icons {
    width: 500px;
    height: 100px;
    display: flex;
    align-items: center;
}

.footlogo {
    width: 280px;
}*/

#footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 50px 10px;
}

#row1 {
    width: 500px;
    height: 150px;
    float: left;
}

#row2 {
    width: 500px;
    float: right;
}

#footer ul {
    list-style-type: none;
    display: flex;
    text-align: right;
}

#footer ul li a {
    padding: 1.8rem;
    font-family: 'Retroica', sans-serif;
    font-size: 15px;
    font-weight: lighter;
    align-items: center;
}

.icons {
    float: right;
    padding-top: 20px;
    padding-bottom: 50px;
    margin-right: 100px;
}

.icons img {
    padding: 10px;
    width: 50px;
}

#row1 img {
    width: 250px;
    position: relative;
    left: 200px;
    top: 30px;
}

#smoke1 {
    position: absolute;
    height: 200px;
    z-index: 0;
    width: 50px;
    opacity: 0.05;
    left: 300px;
    bottom: -200px;
}

#smoke2 {
    position: absolute;
    height: 200px;
    z-index: 0;
    width: 50px;
    opacity: 0.05;
    right: 200px;
    bottom: -200px;
}

#smoke3 {
    position: absolute;
    z-index: 0;
    width: 200px;
    opacity: 0.05;
    right: 400px;
    bottom: -50px;
}





/* adasdasdasda*/

.first {

    background-image: url(/images/Background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    margin-top: 150px;
}

.first::after {
    content: url(/images/Asset11.png);
    display: inline-block;
    position: relative;
    bottom: -140px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 1000;
}

.charset {
    position: relative;
    bottom: -160px;
}



.box {

    background-image: url(/images/Asset\ 13.png);
    background-repeat: no-repeat;
    width: 1000px;
    height: 500px;

    background-size: contain;
    margin-left: 200px;

}

.box-text {

    position: absolute;
    right: 350px;
    top: 100px;
    width: 30%;
}

.number {

    font-size: 30px;
    font-weight: 700;
    color: rgb(26, 26, 26);
}

.text-box {
    position: relative;
    display: flex;
    z-index: 0;
    margin-bottom: 30px;
}



.text-box div {
    font-size: 13px;
    position: absolute;
    z-index: 1;
}

.number {
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 15px;
}

.text-box div .text {
    width: 75%;
    font-size: 12px;

}

.text-row {
    margin-bottom: 20px;
    position: relative;
}

.text-row:last-child {
    margin-bottom: 0px;
}


.custom-px-lg-5 {
    padding-left: 50px;
    padding-right: 30px;
}

.custom-px-lg-6 {
    padding-left: 300px;
    padding-right: 300px;
}

.custom-px-lg-7 {
    padding-left: 350px;
    padding-right: 350px;
}



.char img {

    width: 100%;
}

.personal {
    position: relative;
    background-color: #D60F48;
    width: 100%;
    height: 400px;

}

.char-head-3 {
    width: 100%;
    height: 160px;
}

.personal .char-body-3 {
    width: 100%;
    height: 60%;
}

.char3-head {

    position: absolute;
    left: 40px;
    width: 75%;
    z-index: 1;
    top: -10px;
    transition: all 5s;
}

.char3-body {
    width: 40%;
    position: absolute;
    left: 90px;
    transition: all 5s;
}

.char3-legs {
    width: 100%;
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.char3-weapon {
    width: 150%;
    position: absolute;
    bottom: 40px;
    right: -200px;
    z-index: 1;
    transition: all 5s;
}

footer:before {
    background-color: grey;
    width: 100%;
    position: absolute;
    height: 2px;
    content: "";
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 1000;
}

footer:after {
    background-color: grey;
    width: 100%;
    position: absolute;
    height: 2px;
    content: "";
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 1000;
}

.by-btn {
color: black;
    width: 200px;
    height: 50px;
    border: none;
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    border-radius: 50px;
    background-color: #76B900;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 0.8s;

}



.title {
    font-size: 40px;
    font-weight: 900;
    color: rgb(237, 237, 237);
    letter-spacing: 2px;
}

.dec {
    color: rgb(237, 237, 237);
    font-size: 20px;
}

.connect-btn {
    width: 200px;
    height: 50px;
    border: 3px solid #76B900;
    border-radius: 50px;
    background-color: transparent;
    color: #76B900; 
    font-size: 16px;
    font-weight: 700;
    padding-bottom: 3px;
}

.connect-btn img {
    width: 20px;
    margin-right: 3px;
    margin-bottom: 3px;
}

.alt {
    position: relative;
    top: -130px
}

.text-img img {
    border: 5px solid #76B900;
}

.text-title {
    color: #76B900;
    font-size: 20px;
}

.text {
    font-size: 10px;

}
.personal {
    overflow: hidden;
}
.main-title {
    font-size: 50px;
    font-weight: 900;
    letter-spacing: 0px;
}