

   .additional-circle {
     display: none;
   }

   .text-box {
    margin-top: 0;
    margin-right:0 ;
    margin-bottom: 30px;
    
}

.text-row {
    margin-bottom: 0px;
}
.personal {
  overflow: hidden;
}